@charset "UTF-8";
body {
    background-color: #c6d1c9;
    background-repeat:repeat-x;
}
h1 {
    color:rgb(72, 83, 85);font-family:"游ゴシック", "Yu Gothic" ,sans-serif;
}
p p1 {
    font-size:  14px; line-height: 1.7; text-align: justify;
}
h3 {
    color: chocolate;  font-size: 30px;
}
h4 {
    color: cornflowerblue; font-size: 30px;
}
/* CSSの先頭にこの@import文を追加してフォントを読み込みます */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/* div内のp要素にスタイルを適用 */
div p {
  color: brown;
  font-size: 25px;
  
  /* Noto Sans JP フォントの指定 */
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700; /* bold（太字）と同じ。400は通常 */
  font-style: normal;
  font-optical-sizing: auto;
}
h1 {
    border-width: thick;
    border-style: solid;
}

ol {
    border-width: 6px;
    border-style: double;
}

h5 {
     border-bottom : 5px solid #3cb05b;
     font-size: 30px;
}

ol {
    color: #88735a;
    list-style-image: url(images/リストマーカーアイコン.png);
}

.blue {
    color:#3cb05b
}

.orange {
    color: rgb(232, 176, 10);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}

.item {
    background:#3cb05b;
    color: #fff;
    padding: 10px;
    display: grid;
    place-items: center;
    text-align: center; 
}
